.sayfa{width:1200px; height:auto; background-color: rgb(231, 231, 231); margin-left: auto; margin-right: auto; margin-top: 20px;}
.anayazi{width:100%; height: auto; padding-bottom: 3px; font-size:35px; text-align: center; margin-top:10px; float: left;}
.anaresim {width:100%; height: 500px; float: left; margin-top: 10px; }
.anaresim img {width:90%; height:500px; margin-left: 5%;}
.resim1{width:90%; height: 200px; float: left; margin-top:5px; margin-left:6.3%;}
.resim1:hover{transform: scale(1.1); transition: 0.4s;}
.resim1 img {width:100%; height: 100%; transition: 0.4s ease;}
.ortayazi{width:90%; height: auto; padding-bottom: 0px; font-size:24px; float: left; text-align: center; background-color: rgb(153, 36, 21); margin-left: 6.3%; margin-top: 20px; color:white;}
.video{margin-left:35%; margin-bottom: 20px;}
.depo{width:25%; height: auto; margin-left: 5.3%; float: left;}
@media only screen and (max-width:1200px)
{
    .sayfa{width:95%; }
    .ortayazi{font-size: 20px; padding-bottom: 1px;}
}
@media only screen and (max-width:845px)
{   .anaresim{height: 100%;}
    .anaresim img {height:100%;}
    .depo{width: 100%; margin-left: 0%;}
    .video{ width:70%; height: 300px; margin-left:15%;}
}
@media only screen and (max-width:480px)
{
   
 
}
