.baslik{
    width: 100%;
    font-size: 29px;
    background-color: brown;
    margin-top: 10px;
    text-align: center;
    color: white;
}
.baslik-alt{
    width: 100%;
    font-size: 22px;
    background-color: brown;
    margin-top: 10px;
    text-align: center;
    color: white;
}
.icerik1{
    width: 100%;
    font-size: 20px;

    text-align: left;
    color: black;
}
.fot{
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}